<table id="stats-table" class='foo' data-source="<%= stats_path(format: :json) %>">
  <thead>
    <tr>
      <th>Given Name</th>
      <th>Surname</th>
      <th>AVG</th>
      <th>HR</th>
      <th>RBI</th>
      <th>RUNS</th>
      <th>SB</th>
      <th>OPS</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
