<!DOCTYPE html>
<html>
<head>
  <title>BaseballPlayerStats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Baseball Player Stats</h1>
  <%= yield %>
</body>
</html>
